.movie-card{
  width: 220px;
  font-family:'Segoe UI', sans-serif;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   margin: 3rem;
   text-decoration:none;
   color:inherit;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
 display: inline-block;

}
.incinemas{

background-color:black;
color:white;
padding:0.1rem;
display:flex;
align-items:center;
text-align: center;



}
.movie-poster{
  width:100%;
  height:auto;
  display:block;
}
.details{
  margin-bottom:400px;
  margin-left:300px;
}
